.collection {
  &__swiper {
    padding: 2rem 0;
    background-color: $white-color;
    margin-bottom: 1rem;
    position: relative;
    // max-width: 1800px;
  }
  &__swiper-slide {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 1 / 1.2;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: black;
      opacity: 0.7;
    }
  }
  &__swiper-image {
    pointer-events: none;
  }
  &__swiper-text {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 100;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  &__list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    position: relative;
    aspect-ratio: 1 / 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: black;
      opacity: 0.7;
    }
  }
  &__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    font-size: 3rem;
    @include mobile {
      font-size: 2rem;
    }
  }
}

.collection-nav {
  background-color: $white-color;
  padding: 2rem 0;
  border-bottom: 2px solid $yellow-color;
  &__list {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    text-transform: uppercase;
    gap: 1rem 1.9rem;
    justify-content: center;
    color: $brown-color;
  }
  &__item {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      left: -10px;
      background-color: #d4d3d2;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }
  }
}
