.collection {
  &__swiper {
    margin-bottom: 1rem;
    position: relative;
  }
  &__swiper-slide {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 1 / 1.2;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: black;
      opacity: 0.7;
    }
  }
  &__swiper-image {
    pointer-events: none;
  }
  &__swiper-text {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 100;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  &__list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    position: relative;
    aspect-ratio: 1 / 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: black;
      opacity: 0.7;
    }
  }
  &__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    font-size: 3rem;
  }
}
