.about-me {
  padding: 3rem 0;
  background-color: $light-yellow-color;
  @include mobile {
    padding: 2rem 0;
  }
  &__title {
    margin-bottom: 3rem;
    @include mobile {
      margin-bottom: 2rem;
    }
  }
  &__content {
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
  &__block {
    width: 48.5%;
    position: relative;
    overflow: hidden;
    @include mobile {
      width: 100%;
      overflow: auto;
    }
  }
  &__swiper {
    position: absolute;
    top: -50%;
    right: 0;
    width: 100%;
    overflow: hidden;
    @include mobile {
      position: relative;
      height: 30rem;
    }
  }
}

.about-me-description {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  @include mobile {
    gap: 2rem;
  }
  &__title {
    font-size: 1.3rem;
    color: black;
  }
  &__text {
    font-size: 1.3rem;
    color: $gray-color;
    &_black {
      color: black;
    }
    &_gold {
      padding: 1rem 0.5rem;
      background-color: $gold-color;
      color: #fff;
    }
  }
}
