.about-me {
  padding: 3rem 0;
  background-color: $light-yellow-color;
  @include mobile {
    padding: 2rem 0;
  }
  &__title {
    background-color: $light-yellow-color;
    margin-bottom: 3rem;
    @include mobile {
      margin-bottom: 2rem;
    }
  }
  &__content {
    display: grid;
    gap: 3%;
    grid-template-columns: 3fr 2fr;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
  &__block {
    position: relative;
    overflow: hidden;
    height: 30rem;
    @include mobile {
      width: 100%;
      overflow: auto;
    }
  }
}

.about-me-description {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  @include mobile {
    gap: 1rem;
  }
  &__title {
    color: black;
    font-weight: normal;
    @include mobile {
      font-size: 1rem;
      text-align: center;
    }
  }
  &__text {
    color: $gray-color;
    &_black {
      color: black;
    }
    &_gold {
      padding: 1rem 0.5rem;
      background-color: $gold-color;
      color: #fff;
    }
    @include mobile {
      font-size: 1rem;
      text-align: center;
    }
  }
}
