.collection-title {
  background-color: $white-color;
  padding: 3rem 0;
  text-align: center;
  @include mobile {
    padding: 2rem 0;
  }
  &__description {
    text-align: center;
    font-size: 3.5rem;
    color: black;
    font-weight: normal;
    font-family: WellaAtimboCyrillic;
    @include mobile {
      font-size: 3rem;
      line-height: 0.7;
    }
  }
}

.collection {
  background-color: $white-color;
  text-align: center;
  &__description {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3.5rem;
    color: black;
    font-weight: normal;
    font-family: WellaAtimboCyrillic;
    @include mobile {
      margin-bottom: 2rem;
      font-size: 3rem;
      line-height: 0.7;
    }
  }
  &__swiper {
    padding: 2rem 0;
    position: relative;
    // max-width: 1800px;
    @include mobile {
      padding: 1rem 0;
    }
  }
  &__swiper-slide {
    overflow: hidden;
    aspect-ratio: 1 / 1.2;
  }
  &__swiper-image {
    pointer-events: none;
  }
  &__swiper-text {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 100;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30% 3%;
  }
  &__item {
    flex: 0 0 31.3%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    margin-bottom: 1rem;
    transition: 0.3s ease-out;
    &:hover {
      transform: scale(1.01);
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include mobile {
      flex: 0 0 48.5%;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
  &__image {
    margin-bottom: 1rem;
    height: 400px;
    @include mobile {
      height: 200px;
    }
  }
  &__text {
    font-size: 1rem;
    text-transform: uppercase;
    color: $gray-color;
  }
}

.collection-nav {
  position: sticky;
  background-color: $white-color;
  top: 76px;
  z-index: 10;
  padding: 1rem 0;
  @include mobile {
    padding: 1rem 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    text-transform: uppercase;
    gap: 1rem 1.9rem;
    justify-content: center;
    font-size: 0.8rem;
    color: $brown-color;
  }
  &__item {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      left: -1rem;
      background-color: #d4d3d2;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
    }
  }
}
