.contacts {
  padding: 3rem 0;
  @include mobile {
    padding: 2rem 0;
  }
  background-color: $light-yellow-color;
  &__title {
    margin-bottom: 3rem;
    @include mobile {
      margin-bottom: 2rem;
    }
  }
  &__content {
    display: flex;
    gap: 4rem;
    @include mobile {
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
  &__block {
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }
  &__map {
    @include mobile {
      height: 30rem;
    }
  }
}

.contacts-description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include mobile {
    gap: 1rem;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__text {
    font-size: 1.3rem;
    color: $gray-color;
    font-style: normal;
    &_black {
      color: black;
    }
    &_gold {
      padding: 1rem 0.5rem;
      background-color: $gold-color;
      color: #fff;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
    gap: 1rem;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.3rem;
    color: $gray-color;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
