.contacts {
  padding: 3rem 0;
  background-color: $light-yellow-color;
  &__title {
    padding-bottom: 3rem;
  }
  &__content {
    display: flex;
    gap: 4rem;
  }
  &__block {
    width: 50%;
  }
}

.contacts-description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  &__title {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  &__text {
    padding-left: 0.5rem;
    font-size: 1.3rem;
    color: $gray-color;
    &_black {
      color: black;
    }
    &_gold {
      padding: 1rem 0.5rem;
      background-color: $gold-color;
      color: #fff;
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  &__block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.3rem;
    color: $gray-color;
    padding-left: 2rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
