@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/Comfortaa-Light.woff2") format("woff2"),
    url("../assets/fonts/Comfortaa-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/Comfortaa-Regular.woff2") format("woff2"),
    url("../assets/fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/Comfortaa-Bold.woff2") format("woff2"),
    url("../assets/fonts/Comfortaa-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum.woff2") format("woff2"),
    url("../assets/fonts/Forum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
