.footer {
  padding: 3rem 0;
  margin-bottom: 4rem;
  background-color: $light-yellow-color;
  border-top: 3px solid $gold-color;
  &__logo {
    width: 20rem;
    height: 10rem;
    object-fit: contain;
    @include mobile {
      width: 15rem;
    }
  }
  &__block {
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
    @include mobile {
      flex-direction: column-reverse;
    }
  }
  &__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include mobile {
      width: 100%;
      flex-direction: column-reverse;
      gap: 1rem;
      align-items: center;
    }
  }
  &__row {
    width: 60%;
    display: flex;
    gap: 5rem;
    @include mobile {
      width: 100%;
      gap: 2rem;
    }
  }
  &__social-list {
    display: flex;
    gap: 1rem;
    @include mobile {
      gap: 3rem;
    }
  }
  &__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-radius: 50%;
    border: 1px solid $green-color;
    width: 3rem;
    height: 3rem;
  }
  &__list {
    text-transform: uppercase;
    color: $gray-color;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include mobile {
      font-size: 0.8rem;
    }
  }
  &__item {
    &_title {
      color: black;
      font-size: 1.5rem;
      &-bottom {
        margin-top: auto;
      }
      @include mobile {
        font-size: 1rem;
      }
    }
  }

  &__text {
    text-align: center;
    color: $gray-color;
    font-size: 1.2rem;
    font-weight: bold;
    @include mobile {
      font-size: 1rem;
    }
    &:first-of-type {
      margin-bottom: 2rem;
    }
  }
}
