.footer {
  position: relative;
  background-color: $light-yellow-color;
  padding: 3rem 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 2px;
    background-color: $gold-color;
  }
  @include mobile {
    margin-bottom: 4rem;
  }
  &__logo {
    width: 20rem;
    height: 10rem;
    object-fit: contain;
    @include mobile {
      width: 15rem;
    }
  }
  &__block {
    display: flex;
    gap: 4rem;
    margin-bottom: 5rem;
    @include mobile {
      flex-direction: column-reverse;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }
  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @include mobile {
      width: 100%;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  }
  &__row {
    flex: 1;
    display: flex;
    gap: 3rem;
    @include mobile {
      width: 100%;
      gap: 2rem;
    }
  }
  &__social-list {
    display: flex;
    gap: 1rem;
    @include mobile {
      gap: 3rem;
    }
  }
  &__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-radius: 50%;
    border: 1px solid $brown-color;
    width: 3rem;
    height: 3rem;
    transition: 0.3s ease-out;
    & .hover {
      transition: 0.3s ease-out;
    }
    &:hover {
      background-color: $brown-color;
      & .hover {
        fill: $white-color !important;
      }
      & .hover-white {
        fill: $brown-color !important;
      }
    }
  }
  &__list {
    width: 100%;
    text-transform: uppercase;
    color: $gray-color;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include mobile {
      font-size: 0.8rem;
    }
  }
  &__item {
    font-size: 0.8rem;
    transition: 0.3s ease-out;
    &:hover {
      opacity: 0.5;
    }
    &_title {
      font-size: 0.9rem;
      color: black;
      font-weight: bold;
      &:hover {
        opacity: 1;
      }
      &-bottom {
        margin-top: auto;
      }
    }
  }

  &__text {
    text-align: center;
    color: $gray-color;
    font-weight: bold;
    font-size: 0.7rem;
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }
}

.footer-link-item,
.footer-link-tab-item {
  cursor: pointer;
}
