.hero {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 60vw;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
      grid-row: 2 / 2;
    }
  }

  &__title {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    text-align: left;
    font-size: 3rem;
    color: $brown-color;
    &_first {
      padding-left: 2.5rem;
    }
    &_third {
      text-align: right;
      transform: translateX(3rem);
    }
    @include mobile {
      display: none;
    }
  }

  &__image {
    @include mobile {
      grid-row: 1 / 2;
    }
  }

  &__social-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  &__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem;
    border-radius: 50%;
    border: 1px solid $green-color;
    width: 3rem;
    height: 3rem;
  }
}