.hero {
  padding-bottom: 2rem;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__block {
    padding: 1rem 0;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $yellow-color;
    @include mobile {
      flex-direction: column;
    }
  }

  &__button {
    background-color: transparent;
    padding: 0.8rem 2rem;
    border: 2px solid $brown-color;
    &:hover {
      background-color: $brown-color;
      color: $white-color;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $brown-color;
  }

  &__image {
    height: 700px;
    object-fit: cover;
    object-position: top;
    @include mobile {
      height: 500px;
    }
  }
}
