.reviews {
  background-color: $white-color;
  text-align: center;
  &__description {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    color: black;
    font-weight: normal;
    font-family: WellaAtimboCyrillic;
    @include mobile {
      margin-bottom: 0;
      font-size: 3rem;
      line-height: 0.7;
    }
  }
  &__swiper {
    padding: 2rem 0;
    position: relative;
    // max-width: 1800px;
    @include mobile {
      padding: 1rem 0;
    }
  }
  &__swiper-slide {
    border-radius: 1rem;
    overflow: hidden;
    aspect-ratio: 1 / 1.2;
  }
  &__swiper-image {
    pointer-events: none;
    object-fit: contain;
  }
  &__swiper-text {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    z-index: 100;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
  }
  &__item {
    flex: 0 0 31.3%;
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @include mobile {
      flex: 0 0 48.5%;
    }
  }
  &__text {
    font-size: 1rem;
  }
}
