@import "./normalize";
@import "./variables";
@import "./fonts";
@import "swiper/css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 20px;
}

button {
  cursor: pointer;
  color: inherit;
  transition: 0.3s ease-out;
}

body {
  font-family: Comfortaa;
  color: $brown-color;
  @include mobile {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  padding: 1rem 0;

  @include mobile {
    padding: 0.5rem 0;
  }
}

.container {
  max-width: 1200px;
  padding: 0 0.5rem;
  width: 100%;
  margin: auto;
  @include mobile {
    max-width: 800px;
  }
}

ul {
  list-style-type: none;
}

.main-title {
  font-size: 2rem;
  font-family: Forum;
  text-transform: uppercase;
}

.title {
  text-transform: uppercase;
  color: $brown-color;
  font-family: Forum;
  text-align: center;
  overflow: hidden;
  &__text {
    font-weight: normal;
    background-color: inherit;
    padding: 0 2rem;
    display: inline-block;
    font-size: 2rem;
    position: relative;
    z-index: 1;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 100%;
      right: -1000000px;
      top: 50%;
      height: 1px;
      background-color: $yellow-color;
      z-index: -1;
    }
    &::after {
      right: 100%;
      left: -1000000px;
    }

    @include mobile {
      font-size: 1.7rem;
      padding: 0 1rem;
    }
  }
}

.link {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: $yellow-color;
    height: 0.1rem;
    transform: scale(0);
    transition: all 0.3s ease-out;
  }
  &:hover {
    &::after {
      transform: scale(1);
    }
  }
}

.image-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000000aa;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  gap: 3rem;
  transition: all 0.5s ease-out;
  &__item {
    user-select: none;
    max-width: 450px;
    height: auto;
    max-height: 700px;
    transform: scale(0);
    transition: all 0.3s ease-out;
    object-fit: fill;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 1.7rem;
    transition: 0.3s ease-out;
    & > span {
      pointer-events: none;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &_active {
    opacity: 1;
    pointer-events: auto;
    & .image-modal__item {
      transform: scale(1);
    }
  }
}

.swiper-wrapper {
  display: flex;
  transition-timing-function: linear; /* Линейная анимация */
}

.share-button {
  border: none;
  background-color: inherit;
}

@import "./header";
@import "./hero";
@import "./collection";
@import "./about-me";
@import "./contacts";
@import "./reviews";
@import "./information";
@import "./catalog";
@import "./footer";
