@import "./normalize";
@import "./variables";
@import "./fonts";
@import "swiper/css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 20px;
}

button {
  cursor: pointer;
}

body {
  font-family: Comfortaa;

  @include mobile {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section {
  padding: 1rem 0;

  @include mobile {
    padding: 0.5rem 0;
  }
}

.container {
  max-width: 1400px;
  padding: 0 0.5rem;
  width: 100%;
  margin: auto;

  @include mobile {
    max-width: 800px;
  }
}

ul {
  list-style-type: none;
}

.main-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: $brown-color;
  font-family: Forum;
}

.link {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: $yellow-color;
    height: 0.1rem;
    transform: scale(0);
    transition: all 0.3s ease-out;
  }
  &:hover {
    &::after {
      transform: scale(1);
    }
  }
}

.image-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000000aa;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-out;
  &__item {
    user-select: none;
    max-width: 700px;
    max-height: 1000px;
    transform: scale(0);
    transition: all 0.3s ease-out;
    object-fit: contain;
  }
  &_active {
    opacity: 1;
    pointer-events: auto;
    & .image-modal__item {
      transform: scale(1);
    }
  }
}

@import "./header";
@import "./hero";
@import "./collection";
@import "./about-me";
@import "./contacts";
@import "./reviews";
@import "./footer";
