@import "./normalize";
@import "./variables";
@import "./fonts";
@import "swiper/css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 20px;
}

body {
  font-family: Comfortaa;
  @include mobile {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1400px;
  padding: 0 10px;
  width: 100%;
  margin: auto;
  @include mobile {
    max-width: 500px;
  }
}

ul {
  list-style-type: none;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
}

@import "./header";
@import "./hero";
@import "./collection";
