$brown-color: #735849;
$green-color: #bcc2b4;
$yellow-color: #c09c5e;
$white-color: #f7f6f5;
$gray-color: #87817a;
$light-yellow-color: #f7f3eb;
$gold-color: #bea065;

$mobile-width: 1024px;
@mixin mobile() {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}
